<h1><%= @machine.location %> Vending Machine</h1>
<h2>Available Snacks</h2>
<% @machine.snacks.each do |snack|%>
<%= snack.name %>:
<%= number_to_currency(snack.price) %> </br>
<% end %>
<h3> Average Price: <%=number_to_currency(@machine.price_average)%> </h3>
